<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693810096215-3th6e9gqlhcpjnj64quno20o70lsi743.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693810096215-3th6e9gqlhcpjnj64quno20o70lsi743</string>
	<key>API_KEY</key>
	<string>AIzaSyDFlhgzMWnJmmV-z42uUCuR_dYkIwX3m5o</string>
	<key>GCM_SENDER_ID</key>
	<string>693810096215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rms.restaurantManagementSystem</string>
	<key>PROJECT_ID</key>
	<string>rms-mobile-e33e6</string>
	<key>STORAGE_BUCKET</key>
	<string>rms-mobile-e33e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693810096215:ios:72c7108d1d1cd2a9af9b12</string>
</dict>
</plist>